<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Dashboard</title>	

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<style>
		body {
			background-image: url("{% static 'images/ice_1.jpg' %}");
		}
	</style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="#">COLDMATER</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">	    
	    <div class="navbar-left">	      
	      <a href="{% url 'logout' %}"><button class="btn btn-default" type="button">Logout</button></a>
	    </div>
	  </div>
	</nav>

	<div class="container-fluid col-lg-4 col-sm-6" >
		
			<div class=card style="padding: 20px; margin-top: 20px;">
		
				<div style="text-align: center">
					<h1 style="font-weight: bolder"> Welcome {{ user.fname }}! </h1>
				</div>

				<div class="card-header">Machine Info</div>
			  <div class="card-body" style="font-size: 24px;">
			  	<span>Machine ID: </span><span style="font-weight: bolder;">{{ user.machineid }}</span> <br />
			    <span>Machine Status: </span><span style="color: green; font-weight: bolder;">{{ machine.machine_status }}</span> <br />			    
					<span>Ambient Temperature: </span><span style="font-weight: bolder;">{{ machine.ambient_temp }}&deg;C</span> <br />
					<span>Water Temperature: </span><span style="font-weight: bolder;">{{ machine.water_temp }}&deg;C</span> <br />
			    
			  </div>
			

			  <div class="card-header">Control Pad</div>
			  <div class="card-body" style="font-size: 24px;">			    			    
				<form action="" method="POST">
					<span>Temperature Control: </span>
				    <label class="radio-inline">
				      <input type="radio" name="optradio" value="On"> <span style="font-size: 20px; color: green; font-weight: bold;">On</span>
				    </label>
				    <label class="radio-inline">
				      <input type="radio" name="optradio" value="Off" checked> <span style="font-size: 20px; color: red; font-weight: bold;">Off</span>
				    </label>

				    <br />

				    <span>Set Desired temperature: </span>
				    <div class="row">
				    	<div class="container">

								<input type="range" name="set_temp" class="custom-range" name="points" min="6" max="15"  value= {{ machine.set_temp }} step="1" onchange="updateTextInput(this.value);">
								<span id="set_temp_val">{{ machine.set_temp }}&deg;C</span>


								<!--
					    	<button  id=minus type="button" class="btn btn-primary" style="margin: 10px; padding: 10px; width: 40px">
					    		<span style="font-weight: bolder; font-size: 20px; color: white">-</span>
					    	</button>

					    	<span><span id=temp>10</span>&deg;C</span> 

					    	<button type="button"  id=plus class="btn btn-primary" style="margin: 10px; padding: 10px; width: 40px">
					    		<span style="font-weight: bolder; font-size: 20px; color: white">+</span>
								</button>
								-->

					    </div>
				    </div>

				    <button id=submit type=submit class="btn btn-primary" style="font-size: 20px; ">Submit</button>
			    </form>
                
			  </div>			
		</div>

		

	</div>

	<script type="text/javascript">
		
		var x = 10;

		$("#minus").click(function() {
			if(x - 1 <= 5)
			{
				alert("Temperature must be greater than 5 degrees");	
			}
			else {
				x -= 1;
				document.getElementById("temp").innerHTML = x; 
			}
		});

		$("#plus").click(function() {
			if(x + 1 > 20)
			{
				alert("Temperature must be lesser than 20 degrees");	
			}
			else {
				x += 1;
				document.getElementById("temp").innerHTML = x; 
			}
		});

		function updateTextInput(val) {
			document.getElementById('set_temp_val').innerHTML=val;
			document.getElementById('set_temp_val').innerHTML+= "&deg;C"; 
		}

		/*
		$("#submit").click(function() {
			alert("Changes updated successfully!"); 
		});
		*/

	</script>

</body>
</html>